<!-- 🔴 BARRA GOBIERNO -->
<nav class="navbar navbar-expand fixed-top barra-gobmx px-4">

  <a class="navbar-brand" href="https://www.gob.mx/" target="_blank">
    <img src="https://framework-gb.cdn.gob.mx/landing/img/logoheader.svg" class="logo-gobierno"
      alt="Gobierno de México">
  </a>

  <div class="collapse navbar-collapse justify-content-end">
    <ul class="navbar-nav d-flex align-items-center gap-4 text-white">
      <li class="nav-item">
        <a href="https://www.gob.mx/" class="nav-link text-white">Trámites</a>
      </li>
      <li class="nav-item">
        <a href="https://www.gob.mx/" class="nav-link text-white">Gobierno</a>
      </li>
      <li class="nav-item">
        <i class="bi bi-search"></i>
      </li>
    </ul>
  </div>

</nav>

<!-- ESPACIO -->
<div class="mt-5 pt-4"></div>

<!-- 🏛️ ENCABEZADO -->
<div class="contenedorGobierno py-3 px-4">

  <div class="d-flex justify-content-between align-items-center flex-wrap">

    <!-- Logos -->
    <div class="d-flex align-items-center gap-3">
      <a href="https://www.gob.mx/sep" target="_blank">
        <img src="assets/logos/educacion.png" class="logo-educacion">
      </a>

      <a href="/">
        <img src="assets/logos/tecnm.jpg" class="logo-tecnm">
      </a>
    </div>

    <!-- Iconos -->
    <div class="d-flex align-items-center gap-3 mt-2 mt-md-0">

      <img src="assets/encabezado/calendario-icono.png" class="flag">
      <img src="assets/encabezado/correo-icono.png" class="flag">
      <img src="assets/encabezado/microsoft_teams.png" class="flag">
      <img src="assets/encabezado/china-icono.png" class="flag">
      <img src="assets/encabezado/usa-icono.png" class="flag">
      <img src="assets/encabezado/francia-icono.png" class="flag">
      <img src="assets/encabezado/mexico-icono.png" class="flag">

      <span class="access">A+</span>
      <span class="access">A-</span>
      <span class="access">A</span>

    </div>

  </div>

</div>

<!-- 🔵 MENÚ CON SUBMENÚ -->
<nav class="navbar navbar-expand-lg menu-bar px-3">

  <div class="container-fluid">

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menuNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="menuNav">

      <ul class="navbar-nav">

        <!-- Home -->
        <li class="nav-item">
          <a class="nav-link text-white" href="Inicio">
            <i  class="bi bi-house-fill"></i>
          </a>
        </li>

        <!-- Nivel 1 -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" data-bs-toggle="dropdown">
            Programas Educativos
          </a>

          <ul class="dropdown-menu">

            <!-- Submenu -->
            <li class="dropdown-submenu">
              <a href="programas-educativos/ing-ia" class="dropdown-item">Ingenieria en inteligencia artificial</a>
            </li>
            <li>
              <a  href="programas-educativos/ing-sc-virtual"  class="dropdown-item">Ingenieria en sistemas computacionales Virtual </a>
            </li>
            <li>
              <a href="programas-educativos/ing-animacion" class="dropdown-item">Ingenieria en Animación Digital y Efectos Visuales</a>
            </li>
            <li>
              <a  href="programas-educativos/ing-energias-renovables"    class="dropdown-item">Ingenieria en Energias Renovables</a>
            </li>
            <li>
              <a   href="programas-educativos/ing-ferro"   class="dropdown-item">Ingenieria Ferrroviaria</a>
            </li>
            <li>
              <a  href="programas-educativos/ing-industrias-alianza"    class="dropdown-item">Ingenieria en Industrias Alimentarias</a>
            </li>
            <li>
              <a href="programas-educativos/ing-isc"  class="dropdown-item">Ingenieria en Sistemas Computacionales </a>
            </li>
            <li>
              <a  href="programas-educativos/lic-admin-mixta"   class="dropdown-item">Licenciatura en Administracion Modalidad Mixta</a>
            </li>
            <li>
              <a href="programas-educativos/lic-admin"  class="dropdown-item">Licenciatura en Administracion</a>
            </li>
            <li>
              <a   href="programas-educativos/lic-gastro"  class="dropdown-item">Licenciatura en Gastronomia</a>
            </li>
            <li>
              <a  href="programas-educativos/lic-turismo" class="dropdown-item">Licenciatura en Turismo</a>
            </li>
            <li>
              <a  href="programas-educativos/contador-publico"   class="dropdown-item">Contador Publico</a>
            </li>
            <li>
              <a   href="programas-educativos/master-economia"   class="dropdown-item">Maestria en Economia Social y Solidaria</a>
            </li>
          </ul>
        </li>

        <!-- Lista de Menu de ITSESCARCEGA -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" data-bs-toggle="dropdown">
            ITSESCARCEGA
          </a>
          <ul class="dropdown-menu">
            <li>
              <a  href="ITSESCARCEGA/historia"  class="dropdown-item">Historia</a>
            </li>
            <li>
              <a href="ITSESCARCEGA/directorio"  class="dropdown-item">Directorio</a>
            </li>
            <li>
              <a  href="ITSESCARCEGA/normativa"   class="dropdown-item">Normatividad</a>
            </li>
            <li>
              <a  href="ITSESCARCEGA/manual-line"   class="dropdown-item">Manual de Lineamientos TecNM</a>
            </li>
            <li>
              <a  href="ITSESCARCEGA/convocatoria"   class="dropdown-item">Convocatorias</a>
            </li>



          </ul>
        </li>

        <!-- menu plataforma -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" data-bs-toggle="dropdown">
            Plataformas
          </a>
          <ul class="dropdown-menu">

            <li>
              <a  href="https://acad.itsescarcega.edu.mx/login/index.php"  class="dropdown-item">Moodle</a>
            </li>
            <li>
              <a href="https://app.itsescarcega.edu.mx/" class="dropdown-item">SITSE</a>
            </li>
            <li>
              <a  href="Plataforma/siaceb" class="dropdown-item">Siaceb</a>
            </li>
            <li>
              <a  href="Plataforma/tutorias" class="dropdown-item">Tutorias</a>
            </li>
            <li>
              <a   href="https://ti.itsescarcega.edu.mx/mantenimiento-app/#/login" class="dropdown-item">Sistema de Mantenimiento</a>
            </li>
            <li>
              <a class="dropdown-item">Evaluacion Docente</a>
            </li>
            <li>
              <a  href="https://ti.itsescarcega.edu.mxsistemabiblioteca/"  class="dropdown-item">Registro Biblioteca</a>
            </li>
            <li>
              <a  href="https://elibro.net/es/lc/itsescarcega/login_usuario/" class="dropdown-item">Elibro ITSE</a>
            </li>



          </ul>
        </li>


        <!-- menu servicios  -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" data-bs-toggle="dropdown">
            servicios
          </a>
          <ul class="dropdown-menu">

            <li>
              <a  href="Servicios/centro-computo" class="dropdown-item">Centro de Cómputo</a>
            </li>
            <li>
              <a href="Servicios/recursos-financieros" class="dropdown-item">Recursos Financieros</a>
            </li>
            <li>
              <a href="Servicios/centro-informacion" class="dropdown-item">Centro de Información</a>
            </li>
            <li>
              <a href="Servicios/servicios-escolares" class="dropdown-item">Servicios Escolares</a>
            </li>
            <li>
              <a  class="dropdown-item"  href="https://ti.itsescarcega.edu.mx/encuesta-app/#/login">Encuesta de Servicio</a>
            </li>
            <li>
              <a   href="assets/servicios/lactario.pdf"  class="dropdown-item">Lactario</a>
            </li>
          </ul>
        </li>

        <!-- menu sistema gestion -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" data-bs-toggle="dropdown">
            Sistemas de gestión
          </a>
          <ul class="dropdown-menu">

            <li>
              <a   href="sistema-gestion/sistema-ges-igualdad" class="dropdown-item">Sistema de Gestion de Igualdad de Genero y no Discriminacion</a>
            </li>
            <li>
              <a   href="sistema-gestion/sistema-ges-integral"   class="dropdown-item">Sistema de Gestion Integral (SGI) </a>
            </li>
            <li>
              <a  href="sistema-gestion/proteccion-civil"  class="dropdown-item">Proteccion Civil y Accesibilidad</a>
            </li>
            <li>
              <a     href="sistema-gestion/quejas-denuncias" class="dropdown-item">Quejas y Denuncias</a>
            </li>
            <li>
              <a  href="itsebuzondiigital.000webhostapp.com" class="dropdown-item">Buzon Digital ITSE</a>
            </li>
            <li>
              <a   href="assets/img_plataformas/Wallpaper_ITSE.jpg"  class="dropdown-item">Fondo de Pantalla Institucional</a>
            </li>
            <li>
              <a   href="assets/img_plataformas/DIRECTORIO_ENLACES_DE_CJM-UNIVERSIDADES.xlsx" class="dropdown-item">Directorio Enlaces de CJM-Universidades </a>
            </li>

          </ul>
        </li>

<!-- menu gestion institucional -->
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle text-white" data-bs-toggle="dropdown">
    Gestión Institucional
  </a>

  <ul class="dropdown-menu menu-programas">

    <!-- Misceláneos -->
    <li class="dropdown-submenu">
      <a class="dropdown-item dropdown-toggle">Misceláneos</a>

      <ul class="dropdown-menu submenu-programas">
        <li class="submenu-item">
          <a href="gestion_institucional/archivo" target="_blank" class="w-100 d-block text-dark text-decoration-none">Archivo</a>
        </li>
        <li class="submenu-item">
          <a href="gestion_institucional/contabilidad-institucional" target="_blank" class="w-100 d-block text-dark text-decoration-none">Contabilidad Institucional</a>
        </li>
        <li class="submenu-item">
          <a href="gestion_institucional/cs-s247-prodep" target="_blank" class="w-100 d-block text-dark text-decoration-none">CS_S247_PRODEP</a>
        </li>
        <li class="submenu-item">
          <a href="gestion_institucional/cs-ppu006" target="_blank" class="w-100 d-block text-dark text-decoration-none">CS_PpU006</a>
        </li>
        <li class="submenu-item">
          <a href="**" target="_blank" class="w-100 d-block text-dark text-decoration-none">Avisos y Convocatorias</a>
        </li>
        <li class="submenu-item">
          <a href="gestion_institucional/accesibilidad" target="_blank" class="w-100 d-block text-dark text-decoration-none">Accesibilidad</a>
        </li>
      </ul>
    </li>

    <!-- Vinculación -->
    <li>
      <a class="dropdown-item" href="gestion_institucional/vinculacion" target="_blank">Vinculación</a>
    </li>

    <!-- Transparencia -->
    <li class="dropdown-submenu">
      <a class="dropdown-item dropdown-toggle">Transparencia</a>

      <ul class="dropdown-menu submenu-programas">
        <li class="submenu-item">
          <a href="https://google.com" target="_blank" class="w-100 d-block text-dark text-decoration-none">Información Pública</a>
        </li>
        <li class="submenu-item">
          <a href="https://google.com" target="_blank" class="w-100 d-block text-dark text-decoration-none">Marco Normativo</a>
        </li>
        <li class="submenu-item">
          <a href="https://google.com" target="_blank" class="w-100 d-block text-dark text-decoration-none">Rendición de Cuentas</a>
        </li>
      </ul>
    </li>

    <!-- Planeación -->
    <li class="dropdown-submenu">
      <a class="dropdown-item dropdown-toggle">Planeación</a>

      <ul class="dropdown-menu submenu-programas">
        <li class="submenu-item">
          <a href="https://google.com" target="_blank" class="w-100 d-block text-dark text-decoration-none">Plan Institucional</a>
        </li>
        <li class="submenu-item">
          <a href="https://google.com" target="_blank" class="w-100 d-block text-dark text-decoration-none">Objetivos Estratégicos</a>
        </li>
        <li class="submenu-item">
          <a href="https://google.com" target="_blank" class="w-100 d-block text-dark text-decoration-none">Indicadores</a>
        </li>
      </ul>
    </li>

    <!-- Contacto -->
    <li>
      <a class="dropdown-item" href="https://google.com" target="_blank">Contáctenos</a>
    </li>

  </ul>
</li>

      </ul>

    </div>
  </div>
</nav>