<!-- Top bar -->
<nav class="navbar navbar-expand-lg navbar-dark top-bar px-4">
  <div class="container-fluid d-flex justify-content-between">

    <!-- Izquierda -->
    <div class="d-flex align-items-center gap-2">
      <img src="../../../../src/app/pages/assets/logos/gobierno_mexico.png" class="logo-small" alt="">
      <span class="fw-bold text-white">Gobierno de México</span>
    </div>

    <!-- Derecha -->
    <div class="d-flex align-items-center gap-4 text-white">
      <a class="nav-link text-white">Trámites</a>
      <a class="nav-link text-white">Gobierno</a>
      <i class="bi bi-search"></i>
    </div>

  </div>
</nav>

<!-- Main navbar -->
<nav class="navbar navbar-light bg-light px-4 main-navbar">
  <div class="container-fluid d-flex justify-content-between">

    <!-- Logos -->
<div class="d-flex align-items-center logos-container">
    <img src="assets/logos/educacion.png" class="logo me-3" alt="Educación">
    <img src="assets/logos/tecnm.jpg" class="logo" alt="TecNM">
  </div>

    <!-- Iconos -->
    <div class="d-flex align-items-center gap-3">

      <i class="bi bi-envelope icon"></i>
      <i class="bi bi-calendar icon"></i>

      <!-- Banderas -->
      <img src="assets/encabezado/china-icono.png" class="flag" alt="">
      <img src="assets/encabezado/usa-icono.png" class="flag" alt="">
      <img src="assets/encabezado/francia-icono.png" class="flag" alt="">
      <img src="assets/encabezado/mexico-icono.png" class="flag" alt="">

      <!-- Accesibilidad -->
      <span class="access">A+</span>
      <span class="access">A-</span>
      <span class="access">A</span>

    </div>

  </div>
</nav>