<nav class="barra-gobmx" id="barraGobmx" role="navigation">
  <div class="barra-gobmx-container">
    <div class="barra-gobmx-header">
      <a class="navbar-brand-logo" href="https://www.gob.mx/" target="_blank" rel="noopener noreferrer">
        <img
          src="https://framework-gb.cdn.gob.mx/gobmx/img/logo_blanco.svg"
          alt="gobierno de mexico">
      </a>
    </div>

    <ul class="barra-gobmx-enlaces">
      <li>
        <a href="https://www.gob.mx/tramites" target="_blank" rel="noopener noreferrer">Trámites</a>
      </li>
      <li>
        <a href="https://www.gob.mx/gobierno" target="_blank" rel="noopener noreferrer">Gobierno</a>
      </li>
      <li>
        <a href="https://www.gob.mx/busqueda" target="_blank" rel="noopener noreferrer">
          <span class="visually-hidden">Búsqueda</span>
          <i class="bi bi-search" aria-hidden="true"></i>
        </a>
      </li>
    </ul>
  </div>
</nav>
