<!-- ===== CONTENIDO ===== -->

<div class="contenido">

  <h2>ARCHIVO</h2>

  <!-- ===== TABS ===== -->
  <ul class="nav nav-tabs custom-tabs">

    <li><button class="nav-link active" data-bs-toggle="tab" data-bs-target="#tab1">2026</button></li>

    <li><button class="nav-link" data-bs-toggle="tab" data-bs-target="#tab2">2025</button></li>

    <li><button class="nav-link" data-bs-toggle="tab" data-bs-target="#tab3">2024</button></li>

    <li><button class="nav-link" data-bs-toggle="tab" data-bs-target="#tab4">2023</button></li>

    <li><button class="nav-link" data-bs-toggle="tab" data-bs-target="#tab5">2022</button></li>

    <li><button class="nav-link" data-bs-toggle="tab" data-bs-target="#tab6">20201</button></li>

  </ul>

  <!-- ===== CONTENIDO DE TABS ===== -->
  <div class="tab-content box-content">

    <!-- TAB 1 -->
    <div class="tab-pane fade show active" id="tab1">
      <h5>CUOTAS DE SERVICIOS</h5>

      <ul class="pdf-list">
        <li><a href="pdfs/cuotas_2026.pdf" target="_blank">CUADRO GENERAL DE CLASIFICACIÓN ARCHIVISTICA 2026</a></li>
        <li><a href="" target="_blank"> CATÁLOGO DE DISPOSICIÓN DOCUMENTAL 2026 </a></li>
        <li><a href="" target="_blank">INFORME DEL PROGRAMA ANUAL DE DESARROLLO ARCHIVISTICO(PADA) 2025 </a></li>
        <li><a href="" target="_blank">PROGRAMA ANUAL DE DESARROLLO ARCHIVISTICO(PADA) 2026 </a></li>
        <li><a href="" target="_blank">INDICE DE EXPEDIENTES CLASIFICADOS COMO RESERVADOS </a></li>
        <li><a href="" target="_blank">GUÍA DE ARCHIVO DOCUMENTAL </a></li>
        <li><a href="" target="_blank">INVENTARIOS DOCUMENTALES </a></li>

      </ul>

    </div>

    <!-- TAB 2 -->
    <div class="tab-pane fade" id="tab2">
      <ul class="pdf-list">
        <li><a href="pdfs/nuevo_ingreso.pdf" target="_blank">CUADRO GENERAL DE CLASIFICACIÓN ARCHIVISTICA 2025</a></li>
        <li><a href="pdfs/nuevo_ingreso.pdf" target="_blank">CATÁLOGO DE DISPOSICIÓN DOCUMENTAL 2025</a></li>
        <li><a href="pdfs/nuevo_ingreso.pdf" target="_blank">INFORME DEL PROGRAMA ANUAL DE DESARROLLO ARCHIVISTICO(PADA) 2024</a></li>
        <li><a href="pdfs/nuevo_ingreso.pdf" target="_blank">PROGRAMA ANUAL DE DESARROLLO ARCHIVISTICO(PADA) 2025</a></li>
        <li><a href="pdfs/nuevo_ingreso.pdf" target="_blank">INDICE DE EXPEDIENTES CLASIFICADOS COMO RESERVADOS</a></li>
        <li><a href="pdfs/nuevo_ingreso.pdf" target="_blank">GUÍA DE ARCHIVO DOCUMENTAL</a></li>
        <li><a href="pdfs/nuevo_ingreso.pdf" target="_blank">INVENTARIOS DOCUMENTALES</a></li>
        <br><br>
        <li><a href="pdfs/nuevo_ingreso.pdf" target="_blank">ACTA DE INSTALACIÓN DEL GIA DEL ITSE</a></li>
        <li><a href="pdfs/nuevo_ingreso.pdf" target="_blank">CALENDARIO DE SESIONES GIA 2025</a></li>
        <li><a href="pdfs/nuevo_ingreso.pdf" target="_blank">REGLAS DE OPERACION DEL GRUPO INTERDISCIPLINARIO DE ARCHIVO DEL ITSE</a></li>
        <li><a href="pdfs/nuevo_ingreso.pdf" target="_blank">SO-GIA-ITSE-004-2024</a></li>
        <li><a href="pdfs/nuevo_ingreso.pdf" target="_blank">SO-GIA-ITSE-001-2025</a></li>
        <li><a href="pdfs/nuevo_ingreso.pdf" target="_blank"></a>SO-GIA-ITSE-002-2025</li>
        <br>
        <br>
        <p>Actualizacion 2025</p>
        <li><a href="pdfs/nuevo_ingreso.pdf" target="_blank">CUADRO GENERAL DE CLASIFICACIÓN ARCHIVÍSTICA 2025</a></li>
        <li><a href="pdfs/nuevo_ingreso.pdf" target="_blank">CATÁLOGO DE DISPOSICIÓN DOCUMENTAL2025</a></li>
      </ul>
    </div>

    <!-- TAB 3 -->
    <div class="tab-pane fade" id="tab3">
     

      <ul class="pdf-list">
        <li><a href="pdfs/nuevo_ingreso.pdf" target="_blank">CUADRO GENERAL DE CLASIFICACIÓN ARCHIVISTICA 2024</a></li>
        <li><a href="pdfs/nuevo_ingreso.pdf" target="_blank">CATÁLOGO DE DISPOSICIÓN DOCUMENTAL 2024</a></li>
        <li><a href="pdfs/nuevo_ingreso.pdf" target="_blank">INFORME DEL PROGRAMA ANUAL DE DESARROLLO ARCHIVISTICO(PADA) 2024</a></li>
        <li><a href="pdfs/nuevo_ingreso.pdf" target="_blank">PROGRAMA ANUAL DE DESARROLLO ARCHIVISTICO(PADA) 2024</a></li>
        <li><a href="pdfs/nuevo_ingreso.pdf" target="_blank">INDICE DE EXPEDIENTES CLASIFICADOS COMO RESERVADOS</a></li>
        <li><a href="pdfs/nuevo_ingreso.pdf" target="_blank">GUÍA DE ARCHIVO DOCUMENTAL</a></li>
        <li><a href="pdfs/nuevo_ingreso.pdf" target="_blank">INVENTARIOS DOCUMENTALES</a></li>

        <br><br>
        <p>ACTUALIZACIÓN 2024</p>
        <li><a href="pdfs/nuevo_ingreso.pdf" target="_blank">CATÁLOGO DE DISPOSICIÓN DOCUMENTAL 2024</a></li>
        <li><a href="pdfs/nuevo_ingreso.pdf" target="_blank">CUADRO GENERAL DE CLASIFICACIÓN ARCHIVISTICA 2024</a></li>
      </ul>
    </div>

    <!-- TAB 4 -->
    <div class="tab-pane fade" id="tab4">
      

      <ul class="pdf-list">
    <li><a href="pdfs/nuevo_ingreso.pdf" target="_blank">CUADRO GENERAL DE CLASIFICACIÓN ARCHIVISTICA 2023  </a></li>
     <li><a href="pdfs/nuevo_ingreso.pdf" target="_blank">CATÁLOGO DE DISPOSICIÓN DOCUMENTAL 2023</a></li>
      <li><a href="pdfs/nuevo_ingreso.pdf" target="_blank">INFORME DEL PROGRAMA ANUAL DE DESARROLLO ARCHIVISTICO(PADA) 2022</a></li>
       <li><a href="pdfs/nuevo_ingreso.pdf" target="_blank">PROGRAMA ANUAL DE DESARROLLO ARCHIVISTICO(PADA) 2023</a></li>
        <li><a href="pdfs/nuevo_ingreso.pdf" target="_blank">INDICE DE EXPEDIENTES CLASIFICADOS COMO RESERVADOS (ENERO-JUNIO)</a></li>
         <li><a href="pdfs/nuevo_ingreso.pdf" target="_blank">INDICE DE EXPEDIENTES CLASIFICADOS COMO RESERVADOS (JULIO-DICIEMBRE)</a></li>

      </ul>
    </div>

    <!-- TAB 5 -->
    <div class="tab-pane fade" id="tab5">


      <ul class="pdf-list">
        <li><a href="pdfs/nuevo_ingreso.pdf" target="_blank">CUADRO GENERAL DE CLASIFICACIÓN ARCHIVISTICA 2022</a></li>
        <li><a href="pdfs/nuevo_ingreso.pdf" target="_blank">CATÁLOGO DE DISPOSICIÓN DOCUMENTAL 2022</a></li>
        <li><a href="pdfs/nuevo_ingreso.pdf" target="_blank">INFORME DEL PROGRAMA ANUAL DE DESARROLLO ARCHIVISTICO(PADA) 2021</a></li>
        <li><a href="pdfs/nuevo_ingreso.pdf" target="_blank">PROGRAMA ANUAL DE DESARROLLO ARCHIVISTICO(PADA) 2022</a></li>
        <br><br>
        <li><a href="pdfs/nuevo_ingreso.pdf" target="_blank">CATALOGO DE DISPOSICION DOCUMENTAL 2022 ÚLTIMA MODIFICACIÓN</a></li>
        <li><a href="pdfs/nuevo_ingreso.pdf" target="_blank">CUADRO GENERAL DE CLASIFICACION ARCHIVISTICA 2022 ÚLTIMA MODIFICACIÓN.pdf</a></li>
        <li><a href="pdfs/nuevo_ingreso.pdf" target="_blank">GUÍA SIMPLE DE ARCHIVOS</a></li>
        <li><a href="pdfs/nuevo_ingreso.pdf" target="_blank">GUÍA DE ARCHIVO DOCUMENTAL</a></li>
        <li><a href="pdfs/nuevo_ingreso.pdf" target="_blank">INVENTARIOS DOCUMENTALES.pdf</a></li>
      </ul>
    </div>

    <!-- TAB 6 -->
    <div class="tab-pane fade" id="tab6">
      

      <ul class="pdf-list">
        <br>
        <p>INSTRUMENTOS ARCHIVISTICOS</p>
        <li><a href="pdfs/nuevo_ingreso.pdf" target="_blank">CATÁLOGO DE DISPOSICIÓN DOCUMENTAL 2021</a></li>
        <li><a href="pdfs/nuevo_ingreso.pdf" target="_blank">CUADRO GENERAL DE CLASIFICACIÓN ARCHIVISTICA 2021</a></li>
        <br><br>
        <p>NORMATIVIDAD</p>
        <li><a href="pdfs/nuevo_ingreso.pdf" target="_blank">LEY GENERAL DE ARCHIVOS</a></li>
        <li><a href="pdfs/nuevo_ingreso.pdf" target="_blank">REGLAS DE OPERACIÓN DEL GRUPO INTERDISCIPLINARIO DE ARCHIVO DEL ITSE</a></li>
        <br><br>
      <p>PROGRAMA ANUAL DE DESARROLLO ARCHIVISTICO</p>
      <li><a href="pdfs/nuevo_ingreso.pdf" target="_blank">PADA 2021</a></li>
      </ul>
    </div>

  </div>

</div>