<div class="container py-4">

  <!-- 🔷 TÍTULO -->
  <h2 class="titulo">INGENIERÍA INGENIERÍA INDUSTRIAS ALIMENTARIAS.</h2>

  <!-- 🟥 BANNER SUPERIOR -->
  <div class="banner-ia">

    <div class="banner-left">
      <img src="assets/banners_carreras/INDUSTRIAS.jpg" alt="IA"
      >
    </div>


  </div>

  <section class="contact-section">

    <div class="contact-card">
      <h3>■ RESPONSABLE </h3>
      <p class="name">Mtra. Yolanda del Carmen Estrella Pérez</p>
      <p>E-mail: <a href="mailto:divisioniad@itsescarcega.edu.mx">divisioniia@itsescarcega.edu.mx</a></p>
      <p>Tel: <a href="tel:9821255983">000</a></p>
    </div>
  
    <hr>

      <!-- 📄 DOCUMENTACIÓN -->
  <div class="doc-section text-center">
    <img src="assets/banners_carreras/logo_drive.png" class="doc-icon">
    <p class="doc-link">
      ■ DOCUMENTACIÓN INGENIERÍA FERROVIARIA.
    </p>
  </div>
  
    <section class="info-gallery">

    
    
      <div class="info-image-card">
        <img src="assets/banners_carreras/INDU_1.png" alt="Objetivo, Misión y Visión">
      </div>
    
      
      <div class="info-image-card">
        <img src="assets/banners_carreras/INDU_2.png" alt="Objetivo, Misión y Visión">
      </div>
     

      <div class="info-image-card">
        <img src="assets/banners_carreras/INDU_3.png" alt="Objetivo, Misión y Visión">
      </div>

      <div class="info-image-card">
        <img src="assets/banners_carreras/INDU_4.png" alt="Objetivo, Misión y Visión">
      </div>
      
      <div class="info-image-card">
        <img src="assets/banners_carreras/INDU_5.png" alt="Objetivo, Misión y Visión">
      </div>


      <div class="info-image-card">
        <img src="assets/banners_carreras/INDU_6.png" alt="Objetivo, Misión y Visión">
      </div>

      <div class="info-image-card">
        <img src="assets/banners_carreras/INDU_7.png" alt="Objetivo, Misión y Visión">
      </div>


      <div class="info-image-card">
        <img src="assets/banners_carreras/INDU_8.png" alt="Objetivo, Misión y Visión">
      </div>

      <div class="info-image-card">
        <img src="assets/banners_carreras/INDU_9.png" alt="Objetivo, Misión y Visión">
      </div>
    </section>
  
  </section>




  <section class="info-section">
    
  
    <div class="info-block">
      <h3>■ OBJETIVO GENERAL</h3>
      <p>
        Formar ingenieros en Industrias Alimentarias con sólidos conocimientos científicos y tecnológicos, para desarrollar, mejorar y producir alimentos inocuos e innovadores; bajo un esquema ético y sustentable acorde a las necesidades de la sociedad en el ámbito regional, nacional e internacional.
      </p>
    </div>
  
    <div class="info-block">
      <h3>■ ACTIVIDADES DE FORMACIÓN</h3>
      <p>
        Durante tu estadía en el ITSE, desarrollarás proyectos encaminados a la agroindustria, elaboración de productos, prácticas de laboratorio, visitas a empresas enfocadas a la elaboración de alimentos, visitas a centros de investigación.
      </p>
    </div>
  
    <div class="info-block">
      <h3>■ PERFIL DE EGRESO</h3>
      <p>
        Nuestro egresado(a) está preparado(a) para transformar el futuro de la industria alimentaria con una visión innovadora, sustentable y global. Estas son las competencias que lo(a) distinguen:


      </p>
    </div>
  </section>




  <hr>

  

  </div>
<br>
<br>
