
/* =========================================
CONTENEDOR GENERAL
========================================= */

.iframe-container {

    width: 100%;

    margin: 0;

    padding: 0;

    background: transparent;

    overflow: hidden;

}

/* =========================================
IFRAME
========================================= */

.iframe-container iframe {

    width: 100%;

    height: 100vh;

    min-height: 1400px;

    border: none;

    display: block;

    background: transparent;

    overflow: hidden;

}

/* =========================================
BODY
========================================= */

body {

    margin: 0;

    padding: 0;

    background: #f3f3f3;

    overflow-x: hidden;

    font-family: var(--font-sans);

}

/* =========================================
ELIMINA ESPACIOS DE ANGULAR
========================================= */

app-root,
router-outlet {

    margin: 0;

    padding: 0;

    display: block;

}

/* =========================================
RESPONSIVE
========================================= */

@media screen and (max-width: 768px){

    .iframe-container iframe {

        min-height: 2200px;

    }

}
