<!-- ===== CONTENIDO ===== -->

<div class="contenido">

  <h2>CONTABILIDAD INSTITUCIONAL</h2>

  <!-- ===== TABS ===== -->
  <ul class="nav nav-tabs custom-tabs">

    <li><button class="nav-link active" data-bs-toggle="tab" data-bs-target="#tab1">ESTADOS FINANCIEROS</button></li>

    <li><button class="nav-link" data-bs-toggle="tab" data-bs-target="#tab2">ESTADOS CONTABLES</button></li>

    <li><button class="nav-link" data-bs-toggle="tab" data-bs-target="#tab3">TECNM CAMPUS ESCARCEGA</button></li>



  </ul>

  <!-- ===== CONTENIDO DE TABS ===== -->
  <div class="tab-content box-content">

    <!-- TAB 1 -->
    <div class="tab-pane fade show active" id="tab1">

      <h5>ESTADOS FINANCIEROS</h5>

      <ul class="pdf-list">
        <p>Presupuesto 2024</p>

        <li><a href="pdfs/cuotas_2026.pdf" target="_blank"> Presupuesto Estatal 2025</a></li>
        <li><a href="" target="_blank">Presupuesto Federal 2025</a></li>
        <ul>
          <li><a href="" target="_blank"> 1 Trimestre </a></li>
          <li><a href="" target="_blank"> 2 Trimestre </a></li>
          <li><a href="" target="_blank"> 3 Trimestre </a></li>
          <li><a href="" target="_blank"> 4 Trimestre </a></li>
        </ul>


        <br><br>

        <p>Presupuesto 2024</p>
        <li><a href="pdfs/cuotas_2026.pdf" target="_blank"> Presupuesto Estatal 2024</a></li>
        <li><a href="" target="_blank">Presupuesto Federal 2024</a></li>
        <ul>
          <li><a href="" target="_blank"> 1 Trimestre </a></li>
          <li><a href="" target="_blank"> 2 Trimestre </a></li>
          <li><a href="" target="_blank"> 3 Trimestre </a></li>
          <li><a href="" target="_blank"> 4 Trimestre </a></li>
        </ul>

        <br><br>
        <p>Presupuesto 2022</p>
        <li><a href="pdfs/cuotas_2026.pdf" target="_blank"> Presupuesto Estatal 2022</a></li>
        <li><a href="" target="_blank">Presupuesto Federal 2022</a></li>
        <ul>
          <li><a href="" target="_blank"> 1 Trimestre </a></li>
          <li><a href="" target="_blank"> 2 Trimestre </a></li>
          <li><a href="" target="_blank"> 3 Trimestre </a></li>
          <li><a href="" target="_blank"> 4 Trimestre </a></li>
        </ul>

         <br><br>
        <p>Presupuesto 2021</p>
        <li><a href="pdfs/cuotas_2026.pdf" target="_blank"> Presupuesto Estatal 2021</a></li>
        <li><a href="" target="_blank">Presupuesto Federal 2021</a></li>
        <ul>
          <li><a href="" target="_blank"> 1 Trimestre </a></li>
          <li><a href="" target="_blank"> 2 Trimestre </a></li>
          <li><a href="" target="_blank"> 3 Trimestre </a></li>
          <li><a href="" target="_blank"> 4 Trimestre </a></li>
        </ul>

         <br><br>
        <p>Presupuesto 2020</p>
        <li><a href="pdfs/cuotas_2026.pdf" target="_blank"> Presupuesto Estatal 2020</a></li>
        <li><a href="" target="_blank">Presupuesto Federal 2020</a></li>
        <ul>
          <li><a href="" target="_blank"> 1 Trimestre </a></li>
          <li><a href="" target="_blank"> 2 Trimestre </a></li>
          <li><a href="" target="_blank"> 3 Trimestre </a></li>
          <li><a href="" target="_blank"> 4 Trimestre </a></li>
        </ul>

         <br><br>
        <p>Presupuesto 2019</p>
        <li><a href="pdfs/cuotas_2026.pdf" target="_blank"> Presupuesto Estatal 2019</a></li>
        <li><a href="" target="_blank">Presupuesto Federal 2019</a></li>
        <ul>
          <li><a href="" target="_blank"> 1 Trimestre </a></li>
          <li><a href="" target="_blank"> 2 Trimestre </a></li>
          <li><a href="" target="_blank"> 3 Trimestre </a></li>
          <li><a href="" target="_blank"> 4 Trimestre </a></li>
        </ul>

         <br><br>
        <p>Presupuesto 2018</p>
        <li><a href="pdfs/cuotas_2026.pdf" target="_blank"> Presupuesto Estatal 2018</a></li>
        <li><a href="" target="_blank">Presupuesto Federal 2018</a></li>
        <ul>
          <li><a href="" target="_blank"> 1 Trimestre </a></li>
          <li><a href="" target="_blank"> 2 Trimestre </a></li>
          <li><a href="" target="_blank"> 3 Trimestre </a></li>
          <li><a href="" target="_blank"> 4 Trimestre </a></li>
        </ul>

         <br><br>
        <p>Presupuesto 2017</p>
        <li><a href="pdfs/cuotas_2026.pdf" target="_blank"> Presupuesto Estatal 2017</a></li>
        <li><a href="" target="_blank">Presupuesto Federal 2017</a></li>
        <ul>
          <li><a href="" target="_blank"> 1 Trimestre </a></li>
          <li><a href="" target="_blank"> 2 Trimestre </a></li>
          <li><a href="" target="_blank"> 3 Trimestre </a></li>
          <li><a href="" target="_blank"> 4 Trimestre </a></li>
        </ul>

 <br><br>
        <p>Presupuesto 2016</p>
        <li><a href="pdfs/cuotas_2026.pdf" target="_blank"> Presupuesto Estatal 2016</a></li>
        <li><a href="" target="_blank">Presupuesto Federal 2016</a></li>
        <ul>
          <li><a href="" target="_blank"> 1 Trimestre </a></li>
          <li><a href="" target="_blank"> 2 Trimestre </a></li>
          <li><a href="" target="_blank"> 3 Trimestre </a></li>
          <li><a href="" target="_blank"> 4 Trimestre </a></li>
        </ul>

         <br><br>
        <p>Presupuesto 2015</p>
        <li><a href="pdfs/cuotas_2026.pdf" target="_blank"> Presupuesto Estatal 2015</a></li>
        <li><a href="" target="_blank">Presupuesto Federal 2015</a></li>
        <ul>
          <li><a href="" target="_blank"> 1 Trimestre </a></li>
          <li><a href="" target="_blank"> 2 Trimestre </a></li>
          <li><a href="" target="_blank"> 3 Trimestre </a></li>
          <li><a href="" target="_blank"> 4 Trimestre </a></li>
        </ul>

         <p>Presupuesto 2014</p>
        <li><a href="pdfs/cuotas_2026.pdf" target="_blank">Informacion del Ejercicio</a></li>

      </ul>
    </div>

    <!-- TAB 2 -->
    <div class="tab-pane fade" id="tab2">

      <h5>ESTADOS CONTABLES</h5>

      <ul class="pdf-list">

        <p>Inventario 2025</p>
        <li><a href="pdfs/cuotas_2026.pdf" target="_blank">Relación de Bienes Muebles e Inmuebles al 30 Junio</a></li>
        <li><a href="" target="_blank">Relación de Bienes Muebles e Inmuebles al 31 de Diciembre</a></li>
        <br><br>
          <p>Inventario 2024</p>
        <li><a href="pdfs/cuotas_2026.pdf" target="_blank">Relación de Bienes Muebles e Inmuebles al 30 Junio</a></li>
        <li><a href="" target="_blank">Relación de Bienes Muebles e Inmuebles al 31 de Diciembre</a></li>
        <br><br>
          <p>Inventario 2023</p>
        <li><a href="pdfs/cuotas_2026.pdf" target="_blank">Relación de Bienes Muebles e Inmuebles al 30 Junio</a></li>
        <li><a href="" target="_blank">Relación de Bienes Muebles e Inmuebles al 31 de Diciembre</a></li>
        <br><br>
          <p>Inventario 2022</p>
        <li><a href="pdfs/cuotas_2026.pdf" target="_blank">Relación de Bienes Muebles e Inmuebles al 30 Junio</a></li>
        <li><a href="" target="_blank">Relación de Bienes Muebles e Inmuebles al 31 de Diciembre</a></li>
        <br><br>
          <p>Inventario 2021</p>
        <li><a href="pdfs/cuotas_2026.pdf" target="_blank">Relación de Bienes Muebles e Inmuebles al 30 Junio</a></li>
        <li><a href="" target="_blank">Relación de Bienes Muebles e Inmuebles al 31 de Diciembre</a></li>
        <br><br>
          <p>Inventario 2020</p>
        <li><a href="pdfs/cuotas_2026.pdf" target="_blank">Relación de Bienes Muebles e Inmuebles al 30 Junio</a></li>
        <li><a href="" target="_blank">Relación de Bienes Muebles e Inmuebles al 31 de Diciembre</a></li>
        <br><br>
          <p>Inventario 2019</p>
        <li><a href="pdfs/cuotas_2026.pdf" target="_blank">Bienes Inmuebles Junio 2019</a></li>
        <li><a href="" target="_blank">Bienes Muebles Junio 2019</a></li>
        <li><a href="" target="_blank">Bienes Inmuebles Diciembre 2019</a></li>
        <li><a href="" target="_blank">Bienes Muebles Diciembre 2019</a></li>
        <br><br>
           <p>Inventario 2018</p>
        <li><a href="pdfs/cuotas_2026.pdf" target="_blank">Bienes Inmuebles Junio 2018</a></li>
        <li><a href="" target="_blank">Bienes Muebles Junio 2018</a></li>
        <li><a href="" target="_blank">Bienes Inmuebles Diciembre 2018</a></li>
        <li><a href="" target="_blank">Bienes Muebles Diciembre 2018</a></li>
        <li><a href="" target="_blank">INVENTARIO DE BIENES MUEBLES E INMUEBLES 2018</a></li>
        <br><br>
         <p>Inventario 2017</p>
        <li><a href="pdfs/cuotas_2026.pdf" target="_blank">Bienes Inmuebles Junio 2017</a></li>
        <li><a href="" target="_blank">Bienes Muebles Junio 2017</a></li>
        <li><a href="" target="_blank">Bienes Inmuebles Diciembre 2017</a></li>
        <li><a href="" target="_blank">Bienes Muebles Diciembre 2017</a></li>
        <br><br>
         <p>Inventario 2016</p>
        <li><a href="pdfs/cuotas_2026.pdf" target="_blank">Bienes Inmuebles Junio 2016</a></li>
        <li><a href="" target="_blank">Bienes Muebles Junio 2016</a></li>
        <li><a href="" target="_blank">Bienes Inmuebles Diciembre 2016</a></li>
        <li><a href="" target="_blank">Bienes Muebles Diciembre 2016</a></li>
        <br><br>

      </ul>
    </div>

    <!-- TAB 3 -->
    <div class="tab-pane fade" id="tab3">

      <h5>ITSE</h5>

      <ul class="pdf-list">
        <p>MANUAL DE ORGANIZACIÓN</p>
        <li><a href="pdfs/cuotas_2026.pdf" target="_blank">Manual de Organización 2022</a></li>
        <li><a href="pdfs/cuotas_2026.pdf" target="_blank">Manual de Organización 2021</a></li>
        <li><a href="pdfs/cuotas_2026.pdf" target="_blank">Manual de Organización 2020</a></li>
        <li><a href="pdfs/cuotas_2026.pdf" target="_blank">Manual de Organización 2019</a></li>
        <li><a href="pdfs/cuotas_2026.pdf" target="_blank">Manual de Organización 2018</a></li>
        <li><a href="pdfs/cuotas_2026.pdf" target="_blank">Manual de Organización 2017</a></li>
        <br><br>
        <p>MANUAL DE PROCEDIMIENTOS</p>
        <li><a href="pdfs/cuotas_2026.pdf" target="_blank">Manual de procedimientos 2021</a></li>
        <li><a href="pdfs/cuotas_2026.pdf" target="_blank">Manual de procedimientos 2020</a></li>
        <li><a href="pdfs/cuotas_2026.pdf" target="_blank">Manual de Procedimientos 2019</a></li>
        <br><br>
        <p>ESTRUCTURA ORGÁNICA</p>
        <li><a href="pdfs/cuotas_2026.pdf" target="_blank">Estructura 2022</a></li>
        <li><a href="pdfs/cuotas_2026.pdf" target="_blank">Estructura 2021</a></li>
        <li><a href="pdfs/cuotas_2026.pdf" target="_blank">Estructura 2020</a></li>
        <li><a href="pdfs/cuotas_2026.pdf" target="_blank">Estructura 2019</a></li>
        <li><a href="pdfs/cuotas_2026.pdf" target="_blank">Estructura 2018</a></li>
        <li><a href="pdfs/cuotas_2026.pdf" target="_blank">Estructura 2017</a></li>
        <li><a href="pdfs/cuotas_2026.pdf" target="_blank">Estructura 2016</a></li>
        <br><br>
      </ul>
    </div>


  </div>

</div>