<section class="servicios-section">

  <div class="servicios-container">

    <h2>SERVICIOS ESCOLARES.</h2>

    <!-- OBJETIVO -->
    <h4>■ OBJETIVO</h4>
    <p>
Ofrecer servicios escolares a los y las  aspirantes y a la comunidad estudiantil, en la preparación, realización y 
resguardo de los resultados de los procesos escolares que se desarrollan en la unidad y de la generación de información
 que sobre éstos requieran las diferentes instancias académico-administrativas. Así como la creación, adecuación, modificación
  o supresión de los planes y programas de estudio y para la toma de decisiones en general, para contribuir a las funciones 
  sustantivas del Tecnológico. 
    </p>

    <hr>

    <!-- RESPONSABILIDADES -->
    <p><strong>Nos hacemos Responsables de:</strong></p>

    <ul class="lista-servicios">
      <li>Inscripciones y Reinscripciones</li>
      <li>Gestión de Becas</li>
      <li>Solicitud de Constancias</li>
      <li>Solicitud de Justificaciones</li>
      <li>Credencialización</li>
      <li>Responsable de la Documentación de las Carreras</li>
    </ul>

    <hr>

    <!-- PDF -->
    <h5>BECAS PARA EL BIENESTAR BENITO JUÁREZ</h5>

    <div class="pdf-container">
      <iframe 
        src="assets/servicios/becas_eduacion.pdf" 
        frameborder="0">
      </iframe>
    </div>

  </div>

</section>