.recursos-section {
  padding: 40px;
  background: #ffffff;
}

.recursos-container {
  display: flex;
  gap: 40px;
}

/* MENU LATERAL */
.menu-lateral {
  width: 220px;
}

.menu-item {
  display: block;
  padding: 12px;
  margin-bottom: 10px;
  text-decoration: none;
  color: #333;
  border-bottom: 1px solid #ccc;
  font-size: 14px;
}

.menu-item.active {
  background: #c82333;
  color: white;
  font-weight: bold;
}

.menu-item.gray {
  background: #e0e0e0;
  color: #333;
}

/* CONTENIDO */
.contenido {
   flex: 1;
  max-width: 1150px;
  margin: 0 auto; /* centra el bloque */
}

.contenido h2 {
  margin-bottom: 20px;
}

/* TABS */
.custom-tabs .nav-link {
  background: #eee;
  border: 1px solid #ccc;
  margin-right: 5px;
}

.custom-tabs .nav-link.active {
  background: #fff;
  border-bottom: 2px solid #ff6b00;
}

/* CAJA */
.box-content {
  border: 1px solid #ffffff;
  padding: 20px;
  background: #ffffff;
  border-radius: 8px;
}

/* LINKS PDF */
.box-content a {
  color: #1e88e5;
  text-decoration: none;
}

.box-content a:hover {
  text-decoration: underline;
}