<div class="container py-4">

  <!-- 🔷 TÍTULO -->
  <h2 class="titulo">LICENCIATURA EN ADMINISTRACION  </h2>

  <!-- 🟥 BANNER SUPERIOR -->
  <div class="banner-ia">

    <div class="banner-left">
      <img src="assets/banners_carreras/ADMIN.jpg" alt="IA"
      >
    </div>


  </div>

  <section class="contact-section">

    <div class="contact-card">
      <h3>■ JEFE DE DIVISIÓN</h3>
      <p class="name"> Mtra. Geni del Carmen Gómez Xul </p>
      <p>E-mail: <a href="mailto:divisioniad@itsescarcega.edu.mx">divisionla@itsescarcega.edu.mx</a></p>
     
    </div>
  

  
 
  </section>



  <!-- 📄 DOCUMENTACIÓN -->
  <div class="doc-section text-center">
    <img src="assets/banners_carreras/logo_drive.png" class="doc-icon">
    <p class="doc-link">
      ■ DOCUMENTACIÓN LICENCIATURA EN ADMINISTRACION 
    </p>
  </div>






<section class="info-section">


  <div class="info-block">
    <h3>■ OBJETIVO GENERAL</h3>
    <p>
      Formar Profesionistas de la Administración capaces de crear, dirigir e innovar las Organizaciones, optimizar los recursos, ser competitivos en un entorno nacional e internacional, basados en conocimientos, habilidades y actitudes, con una visión emprendedora, ética y humana que le permita contribuir al desarrollo sustentable.
    </p>
  </div>

  <div class="info-block">
    <h3>■ ¿QUÉ NECESITO PARA ESTUDIAR LICENCIATURA EN ADMINISTRACIÓN? </h3>
    <p>
      Poseer espíritu emprendedor(a). Contar con vocación de servicio. Tener la facilidades para las relaciones interpersonales y de comunicación. Capacidad para identificar problemáticas y áreas de oportunidad. 
    </p>
  </div>

  <div class="info-block">
    <h3>■ ÁREAS DE EMPLEO </h3>
    <p>
      Como Licenciado o licenciada en Administración podrás desempeñarte en la mayoría de los ambítos: Comercial, Industrial, Serviciós, Manufacturero asi como en empresas de diversos tamaños o grandes corporativos. Emprendedor de tu propio negocio. La docencia, podrás desarrollar funciones de asesoría, auditoría y consultoría de manera independiente o bien dentro de un grupo colegiado. 
    </p>
  </div>

  <div class="info-block">
    <h3>■ PERFIL PROFESIONAL  </h3>
    <p>
      El mundo cambia a pasos agigantados y requiere la colaboración de Capital Humano Profesional, Ético y Responsable que contribuya a la creación de empresas que favorezcan la competitividad, la eficiencia y la rentabilidad, participando o generando negocias de éxito 
    </p>
  </div>

</section>





</div>