<div class="container py-4">

  <!-- 🔷 TÍTULO -->
  <h2 class="titulo">LICENCIATURA EN TURISMO  </h2>

  <!-- 🟥 BANNER SUPERIOR -->
  <div class="banner-ia">

    <div class="banner-left">
      <img src="assets/banners_carreras/TURISMO.jpg" alt="IA"
      >
    </div>


  </div>


  
  <section class="responsables-section">
   
  
    <div class="responsables-banner">
      <img src="assets/banners_carreras/turismos.jpg" alt="Responsables de la carrera">
    </div>
  </section>



  <!-- 📄 DOCUMENTACIÓN -->
  <div class="doc-section text-center">
    <img src="assets/banners_carreras/logo_drive.png" class="doc-icon">
    <p class="doc-link">
      ■ DOCUMENTACIÓN LICENCIATURA EN TURISMO
    </p>
  </div>






<section class="info-section">


  <div class="info-block">
    <h3>■ OBJETIVO GENERAL</h3>
    <p>
      Formar profesionistas capaces de emprender, gestionar e innovar proyectos turísticos sustentables con calidad, acordes con las necesidades de su entorno y las tendencias globales, con sentido ético y respeto a la integridad del patrimonio turístico.
    </p>
  </div>

 
  <div class="info-block">
    <h3>■ PERFIL DE INGRESO  </h3>
   
    <ul>
      <li>Sensibilidad para la preservación del medio ambiente.</li>
    
      <li>Interés por conocer la diversidad cultural.</li>
    
      <li>Interés por el desarrollo y bienestar de las comunidades.</li>
    
      <li>Conocimientos básicos en geografía, cultura general e historia.</li>
    
      <li>Habilidades de emprendedurismo, trabajo colaborativo, creatividad y facilidad de adaptación a diferentes entornos.</li>
    
      <li>Interés en técnicas básicas de supervivencia.</li>
    
      <li>Interés por el fomento al desarrollo sostenible.</li>
    
      <li>Aptitudes para comunicar, incluyendo otros idiomas, y para el manejo de relaciones humanas.</li>
    
      <li>Actitud de liderazgo, iniciativa, creatividad, servicio y excelencia en la prestación del servicio.</li>
    
      <li>Innovación en las diferentes áreas prácticas del ámbito turístico.</li>
    
      <li>Promueve el desarrollo sustentable en el turismo, fomentando el respeto a la cultura y la naturaleza con un compromiso ético.</li>
    </ul>
    
  </div>


  <div class="info-block">
    <h3>■ PERFIL DE EGRESO </h3>
   
    <ul>
      <li>Promueve el desarrollo sustentable en el turismo, fomentando el respeto a la cultura y la naturaleza con un compromiso ético.</li>
    
      <li>Elabora y evalúa planes, programas y proyectos turísticos integrando a las comunidades para lograr un desarrollo sustentable.</li>
    
      <li>Reconoce el fenómeno turístico identificando los indicadores de orden social, para coadyuvar al aumento de la calidad de la oferta turística.</li>
    
      <li>Preserva la cultura nacional e internacional respetando la identidad de cada región.</li>
    
      <li>Emprende un plan de negocios para la creación de su propia empresa fundamentada en el turismo sustentable.</li>
    
      <li>Reconoce y valora la riqueza ecológica de la región para la prestación de servicios turísticos de naturaleza sustentables de forma segura.</li>
    
      <li>Administra recursos humanos, materiales, técnicos y financieros de empresas turísticas.</li>
    
      <li>Aplica el marco legal para garantizar el funcionamiento del sistema turístico, fortaleciendo la seguridad en su entorno.</li>
    
      <li>Aplica el uso de las Tecnologías de la Información y Comunicación (TIC’s) para lograr la eficiencia en el desarrollo del sistema turístico.</li>
    
      <li>Valora las nuevas tendencias para el desarrollo del sector turístico a nivel global.</li>
    </ul>
    
  </div>

</section>

<hr>

<h3 style="text-align: center; font-weight: bold; margin-bottom: 20px;">
  Acreditación
</h3>
<br>

<div class="badge-container">

  <img src="assets/banners_carreras/logoconaet.png" alt="Programa Educativo Acreditado" class="badge-img"   >
</div>


<br>

<h3 style="text-align: center; font-weight: bold; margin-bottom: 20px;">
  "Programa Acreditado por el Consejo para la Calidad de la Educación Turística, A. C. con vigencia hasta Octubre de 2027"
</h3>
<br>
</div>