
<div id="carouselTecNM" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
  <div class="carousel-indicators">
    <button *ngFor="let img of images; let i = index" type="button" data-bs-target="#carouselTecNM"
      [attr.data-bs-slide-to]="i" [class.active]="i === 0" [attr.aria-label]="'Slide ' + (i + 1)">
    </button>
  </div>

  <!-- 🖼 SLIDES -->
  <div class="carousel-inner">

    <div *ngFor="let img of images; let i = index" class="carousel-item" [class.active]="i === 0">

      <div class="slider-container">
        <img [src]="img" class="slider-img" alt="Imagen del carrusel">
      </div>

    </div>

  </div>


  <button class="carousel-control-prev" type="button" data-bs-target="#carouselTecNM" data-bs-slide="prev">

    <span class="carousel-control-prev-icon"></span>
    <span class="visually-hidden">Anterior</span>

  </button>

  <button class="carousel-control-next" type="button" data-bs-target="#carouselTecNM" data-bs-slide="next">

    <span class="carousel-control-next-icon"></span>
    <span class="visually-hidden">Siguiente</span>

  </button> 

  <!-- comunicacion  -->

  <br>
  
  <div class="container my-5">

  <div class="row">

    <!-- 🧭 SIDEBAR -->
    <div class="col-md-3 sidebar">

      <h6 class="titulo-side">CONTRALORÍA SOCIAL U079</h6>
      <img src="assets/home_logos/logo_conta.jpg" class="img-fluid mb-3">

      <h6 class="titulo-side">CONTRALORÍA SOCIAL</h6>
      <img src="assets/home_logos/contro_sociales.png" class="img-fluid mb-3">

      <h6 class="titulo-side">COMITÉ DE ÉTICA CEPCI</h6>
      <img src="assets/home_logos/comite_de_etica.png" class="img-fluid mb-3">

      <p class="side-text">
        "CONSULTA NUESTRAS VACANTES EN NUESTRA BOLSA DE TRABAJO INSTITUCIONAL"
      </p>

      <img src="assets/home_logos/Bolsa.png" class="img-fluid mb-3">

      <h6 class="titulo-side">PLATAFORMA DIGITALIA HISPÁNICA</h6>
      <img src="assets/home_logos/Digitalia.png" class="img-fluid mb-3">

      <h6 class="titulo-side">OCC MUNDIAL</h6>

    </div>

    <!-- 📄 CONTENIDO -->
    <div class="col-md-9 contenido">

      <h2 class="titulo-principal">TECNM CAMPUS ESCÁRCEGA</h2>

      <p class="sub-info">
        ITSESCARCEGA – INICIO – Última actualización: 17 Marzo 2025 – Visitas: 51477
      </p>

      <h4 class="seccion-titulo">POLÍTICAS INSTITUCIONALES</h4>

      <!-- Misión -->
      <h6 class="subtitulo">MISIÓN</h6>
      <p>
        Formar profesionistas competentes ofreciendo un servicio educativo integral de calidad certificada
        que permite mejorar el nivel de vida de la sociedad de una manera justa y equitativa contribuyendo
        al desarrollo sustentable de la región.
      </p>
      <br>
      <!-- Visión -->
      <h6 class="subtitulo">VISIÓN</h6>
      <p>
        Ser una institución líder en el Estado de Campeche, con un sistema de gestión integrado y una oferta
        educativa acreditada en todos sus niveles, que genere un impacto significativo en el desarrollo
        económico, laboral, social y cultural.
      </p>
<br>
      <!-- Política Integral -->
      <h6 class="subtitulo">POLÍTICA INTEGRAL</h6>
      <p>
        El ITSE establece el compromiso de brindar un servicio educativo de calidad, implementando y mejorando 
        continuamente sus procesos en armonía con el medio ambiente y la magnitud de sus riesgos, orientándolos 
        hacia la satisfacción de la comunidad tecnológica, el uso racional de los recursos y el cumplimiento de
         los requisitos legales aplicables, mediante la implementación y difusión de objetivos y acciones para 
         prevenir y reducir la contaminación, accidentes y enfermedades de trabajo a través de la mejora continua 
         y eficacia de los Sistemas de Gestión, conforme a las Normas ISO 9001, ISO 14001 e ISO 45001, así como 
         promoviendo la igualdad de oportunidades, mediante la Norma Mexicana NMX-R-025-SCFI-2015.
      </p>
<br>
      <!-- Igualdad -->
      <h6 class="subtitulo">POLÍTICA DE IGUALDAD DE GÉNERO Y NO DISCRIMINACIÓN DEL TECNM</h6>
      <p>
        La comunidad del Tecnológico Nacional de México establece el compromiso con la promoción y ejercicio de los 
        derechos humanos para toda persona que integra los Institutos, Unidades, Centros y Oficinas centrales; garantizando 
        (en el ámbito de competencia, facultades y responsabilidades), el principio de igualdad sustantiva entre mujeres y 
        hombres así como el derecho fundamental a la no discriminación en los procesos y condiciones laborales y escolares,
         quedando prohibido el maltrato, violencia y segregación a cualquier persona de la comunidad por parte de las autoridades 
         o entre la misma comunidad en cualquier forma de distinción, exclusión o restricción que se encuentre basada en el origen
          étnico o nacional, color de piel, apariencia física, cultura, sexo, género, edad, discapacidad, condición social o 
          económica, condiciones de salud, embarazo, lengua, religión, opiniones, preferencias sexuales, estado civil, situación
           migratoria, situación familiar, antecedentes penales, responsabilidades familiares o cualquier otra, que tenga por 
           objeto impedir o anular el reconocimiento o el ejercicio de los derechos humanos, laborales o escolares de la comunidad,
            o impida la igualdad real de oportunidades.
      </p>
<br>
      <!-- Energética -->
      <h6 class="subtitulo">POLÍTICA ENERGÉTICA</h6>
      <p>
      “El Tecnológico Nacional de México establece el compromiso de orientar todas las actividades del Proceso Educativo, hacia el
       respeto del medio ambiente, mediante la implementación de su Sistema de Gestión de la Energía (SGEn) basado en la norma ISO 
       50001:2018 NMX-J-SAA-50001-ANCE-IMNC-2019, logrando la mejora continua de su desempeño energético, utilizando como base el uso
        eficiente de la energía, asegurando la disponibilidad de la información y de los recursos para alcanzar los objetivos y metas
         establecidos, así como cumplir con la legislación aplicable en materia energética, coadyuvando a ser uno de los pilares
          fundamentales del desarrollo sostenido, sustentable y equitativo de la nación.”
      </p>

    </div>

  </div>

</div>

  



<!-- 🎓 SECCIÓN PLATAFORMAS -->
<div class="container py-5">

  <h2 class="text-center mb-5 titulo-seccion">
    Plataformas Institucionales
  </h2>

  <div class="row justify-content-center g-4">

    <!-- Moodle -->
    <div class="col-6 col-md-3">
      <a href="https://moodle.org" target="_blank" class="card-plataforma">
        <img src="assets/home_logos/moodle.png" alt="Moodle">
      </a>
    </div>

    <!-- Plataforma Nacional -->
    <div class="col-6 col-md-3">
      <a href="https://www.plataformadetransparencia.org.mx/Inicio" target="_blank" class="card-plataforma">
        <img src="assets/home_logos/naci.png" alt="Transparencia">
      </a>
    </div>

    <!-- Cengage -->
    <div class="col-6 col-md-3">
      <a href="https://www.conricyt.mx/acervo-editorial/recursos-por-institucion?id_inst=360" target="_blank" class="card-plataforma">
        <img src="assets/home_logos/cengage.jpg" alt="Cengage">
      </a>
    </div>

    <!-- Biblioteca -->
    <div class="col-6 col-md-3">
      <a href="https://elibro.net/es/lc/itsescarcega/login_usuario/?next=/es/lc/itsescarcega/inicio" target="_blank" class="card-plataforma">
        <img src="assets/home_logos/E_LIBRO1.png" alt="Biblioteca">
      </a>
    </div>

  </div>

</div>


</div>