<div class="transparencia-section">

  <!-- TÍTULO -->
  <h2>TRANSPARENCIA INSTITUCIONAL</h2>
  <p class="busqueda">| Ctrl + F | PARA BUSCAR SU FRACCIÓN .</p>

  <!-- 🔥 TABS -->
  <div class="tabs-menu">

    <button [class.active]="tab==='art74'" (click)="tab='art74'">ARTÍCULO 74</button>
    <button [class.active]="tab==='art75'" (click)="tab='art75'">ARTÍCULO 75</button>
    <button [class.active]="tab==='iecr'" (click)="tab='iecr'">IECR ITSE</button>
    <button [class.active]="tab==='irc'" (click)="tab='irc'">IRC ITSE</button>

  </div>

  <!-- CONTENIDO -->
  <div class="tabs-content">

    <!-- ================= ARTICULO 74 ================= -->
    <div *ngIf="tab==='art74'">

      <div class="titulo-azul">ARTÍCULO 74.</div>

      <!-- PDF -->
      <div class="pdf-item">
        <img src="assets/vinculacion/pdf.png">
        <a href="assets/trasparencia/pdfs/TABLA_DE_ACTUALIZACION_Y_CONSERVACION_ARTICULO_74_2018.pdf" target="_blank">
          Tabla Actualización y Conservación Art. 74 Descargar
        </a>
      </div>

      <hr>

      <!-- 🔥 FRACCIONES DINÁMICAS -->
      <div class="fraccion-box" *ngFor="let f of fracciones">

        <!-- HEADER -->
        <div class="fraccion-header" (click)="toggleFraccion(f.num)">
          FRACCIÓN {{f.num}}.
        </div>

        <!-- TEXTO -->
        <p class="fraccion-texto">
          {{f.texto}}
        </p>

        <!-- DESPLEGABLE -->
        <div *ngIf="fraccionAbierta === f.num" class="fraccion-contenido">

          <iframe [src]="getSafeUrl(f.link)"></iframe>

        </div>
        
        <br> <br>  
      </div>
         <div class="pdf-item">
        <img src="assets/vinculacion/pdf.png">
        <a href="assets/trasparencia/pdfs/Tabla_de_aplicabilidad_Art_74-2022.pdf" target="_blank">
          Tabla de Aplicabilidad Art. 74-2022 Descargar
        </a>
      </div>
         <div class="pdf-item">
        <img src="assets/vinculacion/pdf.png">
        <a href="assets/trasparencia/pdfs/Tabla _de_Aplicabilidad_Art_74-2021.pdf" target="_blank">
          Tabla de Aplicabilidad Art. 74-2021 Descargar
        </a>
      </div>
         <div class="pdf-item">
        <img src="assets/vinculacion/pdf.png">
        <a href="assets/trasparencia/pdfs/Tabla_de_aplicabilidad_2020_ITSE.pdf" target="_blank">
          Tabla de Aplicabilidad Art. 74-2020 Descargar
        </a>
      </div>
         <div class="pdf-item">
        <img src="assets/vinculacion/pdf.png">
        <a href="assets/trasparencia/pdfs/Tabla_de_aplicabilidad_Art_74-2019.pdf" target="_blank">
          Tabla de Aplicabilidad Art. 74-2019 Descargar
        </a>
      </div>
         <div class="pdf-item">
        <img src="assets/vinculacion/pdf.png">
        <a href="assets/trasparencia/pdfs/TABLA_DE_APLICABILIDAD_2018" target="_blank">
          Tabla de Aplicabilidad Art. 74-2018 Descargar
        </a>
      </div>

    </div>

    <!-- ================= ARTICULO 75 ================= -->
    <div *ngIf="tab==='art75'">
      <h3>Artículo 75</h3>
      <p>Contenido del artículo 75...</p>
    </div>

    <!-- ================= IECR ================= -->
    <div *ngIf="tab==='iecr'">
      <h3>IECR ITSE</h3>
      <p>Contenido IECR...</p>
    </div>

    <!-- ================= IRC ================= -->
    <div *ngIf="tab==='irc'">
      <h3>IRC ITSE</h3>
      <p>Contenido IRC...</p>
    </div>

  </div>

</div>