<div class="container py-4">

    <!-- 🔷 TÍTULO -->
    <h2 class="titulo">CONTADOR PIUBLICO  </h2>
  
    <!-- 🟥 BANNER SUPERIOR -->
    <div class="banner-ia">
  
      <div class="banner-left">
        <img src="assets/banners_carreras/CONTADOR.jpg" alt="IA"
        >
      </div>
  
  
    </div>
  
    <section class="contact-section">
  
      <div class="contact-card">
        <h3>■ JEFE DE DIVISIÓN</h3>
        <p class="name"> ------- </p>
        <p>E-mail: <a href="mailto:divisioniad@itsescarcega.edu.mx">@itsescarcega.edu.mx

        </a></p>
       
      </div>
    
  
    
   
    </section>
  
  
  
    <!-- 📄 DOCUMENTACIÓN -->
    <div class="doc-section text-center">
      <img src="assets/banners_carreras/logo_drive.png" class="doc-icon">
      <p class="doc-link">
        ■ DOCUMENTACIÓN DE CONTADOR PUBLICO
      </p>
    </div>
  
  
  
  
  
  
  <section class="info-section">
  
  
    <div class="info-block">
      <h3>■ OBJETIVO GENERAL</h3>
      <p>
        Formar profesionales competitivos, capaces de diseñar, establecer, aplicar, controlar y evaluar sistemas de información financiera, administrativa y fiscal, dentro del marco legal vigente para la toma de decisiones de las entidades económicas nacionales e internacionales, con una actitud ética, crítica, emprendedora y de liderazgo, a través de la investigación y el uso de la tecnología de la información y comunicaciones, fomentando el desarrollo sustentable.
      </p>
    </div>
  
    <div class="info-block">
        <h3>■ PERFIL DE INGRESO  </h3>
       
        <ul>
            <li>Diseña, implanta, controla, evalúa, asesora e innova sistemas de información financiera, administrativa, fiscal y de auditoría en entidades económicas para la generación y análisis de información financiera, con apego a las Normas de Información Financiera nacionales e internacionales y la toma de decisiones.</li>
          
            <li>Audita sistemas financieros, fiscales y administrativos de las entidades económicas con apego a las Normas Internacionales de Auditoría vigentes para la emisión de un dictamen.</li>
          
            <li>Aplica el marco legal pertinente a las características y necesidades de la entidad económica dentro del campo profesional para el cumplimiento de las disposiciones vigentes.</li>
          
            <li>Administra estratégicamente los recursos de las entidades económicas para el cumplimiento de sus objetivos.</li>
          
            <li>Aplica en el ejercicio profesional el código de ética del contador público vigente para enaltecer la profesión.</li>
          
            <li>Utiliza las tecnologías de información y comunicación para eficientar los procesos y la toma de decisiones.</li>
          
            <li>Desarrolla investigación asumiendo una actitud de liderazgo, compromiso y servicio con su entorno social para su difusión.</li>
          
            <li>Elabora y evalúa proyectos de inversión de acuerdo con las características y necesidades del entorno para la generación de entidades económicas, con actitud de liderazgo y compromiso con el medio ambiente.</li>
          
            <li>Trabaja en equipos multidisciplinarios para el logro de los resultados de las entidades con un sentido de responsabilidad social y visión integradora.</li>
          
            <li>Propone estrategias de mercadotecnia que permitan alcanzar los objetivos de las entidades económicas.</li>
          
            <li>Aplica métodos de análisis de información financiera para determinar las mejores alternativas de inversión y financiamiento.</li>
          </ul>
        
      </div>
  
  </section>
  
  
  
  
  
  </div>