<div class="container py-4">

  <!-- 🔷 TÍTULO -->
  <h2 class="titulo">INGENIERÍA EN ENERGIAS RENOVABLES</h2>

  <!-- 🟥 BANNER SUPERIOR -->
  <div class="banner-ia">

    <div class="banner-left">
      <img src="assets/banners_carreras/ENERGIAS.jpg" alt="IA"
      >
    </div>


  </div>

  <section class="contact-section">

    <div class="contact-card">
      <h3>■ JEFE DE DIVISIÓN</h3>
      <p class="name">Ing. José Alberto Alavez Góngora</p>
      <p>E-mail: <a href="mailto:divisioniad@itsescarcega.edu.mx">divisionier@itsescarcega.edu.mx</a></p>
      <p>Tel: <a href="tel:9821255983">000</a></p>
    </div>
  
    <hr>
  
 
  
  </section>



  <!-- 📄 DOCUMENTACIÓN -->
  <div class="doc-section text-center">
    <img src="assets/banners_carreras/logo_drive.png" class="doc-icon">
    <p class="doc-link">
      ■ DOCUMENTACIÓN INGENIERÍA EN ANIMACION DIGITAL Y EFECTOS VISUALES.
    </p>
  </div>

  <hr>




<section class="info-section">
  <h2 class="section-title">Calendario</h2>

  <div class="info-block">
    <h3>■ OBJETIVO GENERAL</h3>
    <p>
      Formar profesionales que desarrollen proyectos de generación, transformación, almacenamiento y gestión de energía proveniente de fuentes renovables; competentes en el diseño, implementación y evaluación de tecnologías limpias para el uso eficiente de la energía en el entorno nacional e internacional.
    </p>
  </div>

  <div class="info-block">
    <h3>■ PERFIL DE EGRESO </h3>
    <ul>
      <li>Formula, evalúa y gestiona estrategias en proyectos de energía renovable con base a la normatividad vigente, para promover la eficiencia y la sustentabilidad energética.</li>
    
      <li>Diseña e implementa sistemas energéticos renovables para promover la competitividad de los sectores productivos.</li>
    
      <li>Analiza y evalúa la factibilidad de implementar procesos derivados de actividades de transformación y producción para el tratamiento de subproductos orgánicos.</li>
    
      <li>Diseña, implementa y evalúa sistemas de generación eléctrica con fuentes alternativas para operar de forma aislada o interconectada a la red eléctrica.</li>
    
      <li>Aplica habilidades para establecer su propia empresa contribuyendo al desarrollo social, económico, tecnológico y ambiental de su entorno.</li>
    
      <li>Diseña proyectos de investigación, desarrollo e innovación tecnológica, relacionados con la energía proveniente de fuentes renovables para optimizar los recursos energéticos.</li>
    
      <li>Identifica y evalúa el recurso energético renovable disponible en el entorno para la producción de energía con calidad.</li>
    
      <li>Contribuye al desarrollo de transferencia de tecnologías limpias a los sectores productivos para prevenir y mitigar los efectos del cambio climático.</li>
    </ul>
  </div>


</section>




 


    </div>

