<section class="planeacion-section">

  <h2 class="titulo">PLANEACIÓN</h2>

  <!-- 🔥 WRAPPER -->
  <div class="tabs-wrapper">

    <!-- IZQUIERDA -->
    <button class="scroll-btn left" (click)="scrollTabs('left')">
      ‹
    </button>

    <!-- TABS -->
    <div class="tabs-menu" #tabsContainer>

      <button 
        *ngFor="let t of tabs"
        [class.active]="tabActivo === t.nombre"
        (click)="tabActivo = t.nombre">

        {{t.nombre}}

      </button>

    </div>

    <!-- DERECHA -->
    <button class="scroll-btn right" (click)="scrollTabs('right')">
      ›
    </button>

  </div>

  <!-- CONTENIDO -->
  <div class="tabs-content">

    <div *ngFor="let t of tabs">
      <div *ngIf="tabActivo === t.nombre">

        <ul class="docs-list">
          <li *ngFor="let doc of t.archivos">
            <img src="assets/vinculacion/pdf.png">
            <a [href]="doc.url" target="_blank">
              {{doc.nombre}}
            </a>
          </li>
        </ul>

      </div>
    </div>

  </div>

</section>