<section class="docs-section">

  <div class="docs-container">

    <h2>Documentos</h2>

    <ul class="docs-list">

      <li>
        <img src="assets/icons/pdf.png">
        <a href="#">PAE 2025 Ejercicio Fiscal 2025</a>
      </li>

      <li>
        <img src="assets/icons/pdf.png">
        <a href="#">PAE 2024 Ejercicio Fiscal 2023</a>
      </li>

      <li>
        <img src="assets/icons/pdf.png">
        <a href="#">PAE 2023 Ejercicio Fiscal 2022</a>
      </li>

      <li>
        <img src="assets/icons/pdf.png">
        <a href="#">PAE 2022 Ejercicio Fiscal 2021</a>
      </li>

      <li>
        <img src="assets/icons/pdf.png">
        <a href="#">PAE 2021 Ejercicio Fiscal 2020</a>
      </li>

      <li>
        <img src="assets/icons/pdf.png">
        <a href="#">PAE 2020 Ejercicio Fiscal 2019</a>
      </li>

      <li>
        <img src="assets/icons/pdf.png">
        <a href="#">PAE 2019 Ejercicio Fiscal 2018</a>
      </li>

      <li>
        <img src="assets/icons/pdf.png">
        <a href="#">PDI 2021-2027 ITSE ESTATAL</a>
      </li>

      <li>
        <img src="assets/icons/pdf.png">
        <a href="#">PDI DEL ITSE 2019 - 2024</a>
      </li>

      <li>
        <img src="assets/icons/pdf.png">
        <a href="#">PDI 2024-2027</a>
      </li>

      <li>
        <img src="assets/icons/pdf.png">
        <a href="#">DICTAMEN PDI 2024-2027</a>
      </li>

      <li>
        <img src="assets/icons/pdf.png">
        <a href="#">Evaluación de Diseño Programa 107</a>
      </li>

      <li>
        <img src="assets/icons/pdf.png">
        <a href="#">IRC 2023</a>
      </li>

      <li>
        <img src="assets/icons/pdf.png">
        <a href="#">IRC 2022</a>
      </li>

      <li>
        <img src="assets/icons/pdf.png">
        <a href="#">IRC 2021</a>
      </li>

      <li>
        <img src="assets/icons/pdf.png">
        <a href="#">IRC 2020</a>
      </li>

      <li>
        <img src="assets/icons/pdf.png">
        <a href="#">IRC 2012-2018</a>
      </li>

      <li>
        <img src="assets/icons/pdf.png">
        <a href="#">IRC 2018</a>
      </li>

      <li>
        <img src="assets/icons/pdf.png">
        <a href="#">PROGRAMA U079</a>
      </li>

    </ul>

  </div>

</section>